@font-face{
  font-family: built-titling;
  src: url(built-titling.regular.ttf);
}

li i{
  font-family: arial;
  font-size: 17px;
  letter-spacing: -1px;

}

.container{
  margin: auto;
  width: 100%;
  font-family: built-titling;
  background-color: rgb(224, 224, 224);
}

.header{
  height: 120px;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
background-color: white;
width: 100%;
}

.bandName{
font-size: 100px;
}

.menu a {
  font-size: 50px;
  text-decoration:none;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.menuIcons{
  display: flex;
  justify-content: flex-end;
}

.menuPics{
  height:50px;
  padding-left: 15px;
}

.onVideo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.liveNew{
position: absolute;
top:380px;
color:white;
font-size: 120px;
-webkit-text-stroke: 1px black;
color: white;
text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}

.comingSoon{
  background-color: rgba(255,0,0,0.3);
  position: absolute;
  top: 500px;
  color:white;
  font-size: 60px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.fullscreen-bg {

    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    /*position: absolute;*/

    width: 100%;
    height: 100%;
}

.bottomPic{
  margin-top:-3px;
  width: 100%;
  position: relative;
  bottom: 0px;
}

.musicHead{
  text-align: left;
  padding-left: 60px;
  color:rgb(77, 77, 77);
  width: 100%;
  font-size: 50px;
  font-family: arial;

}

.allAlbums{
  width: 600px;
  display:flex;
  flex-direction:column;
}

.vertCenter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.forDescript{
padding: 30px;
width: 820px;
  display:flex;
  background-color: white;

}

.albumTitle{
  font-size: 40px;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.release{
  font-family: arial;
  font-size: 18px;
}

.descript{
  font-size: 25px;
  padding-left: 50px;
  width: 100%;
}

ul li{
  padding-bottom: 6px;
}

.album{
  height: 290px;
width: 300px;
}
